==
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Start Bootstrap</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="{% if( this.page.id == 'home') %}active {% endif %}">
                    <a href="{{ 'home'|page }}">Home</a>
                </li>
                <li class="{% if( this.page.id == 'about') %}active {% endif %}">
                    <a href="{{ 'about'|page }}">About</a>
                </li>
                <li class="{% if( this.page.id == 'posts') %}active {% endif %}">
                    <a href="{{ 'posts'|page }}">Posts</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>